@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap');
body {
    background-color: rgb(20, 10, 40);
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

a{
    color:#fff;
    text-decoration: none;
}
a:hover{
    color:gray;
}
a:active{
    color:black;
}



.URL {
    
    background: rgb(72, 69, 220);
    border: 3px solid rgb(150, 150, 150); /* Граница (:ширина границы стиль цвет) */
    border-radius: 50px           ;
}

.info h1{
    color:gray;
}
.navigation{
    background: rgb(72, 69, 220);
    border: 3px solid rgb(151, 151, 151);
    border-radius: 100px;flex-direction: column;
}
.navigation a{
    background-color: rgb(59, 61, 63);
    border-radius: 10px;
    text-transform: uppercase;
    transition: transform 0.15s;
    transform-style: preserve-3d;
}
.ul{
    list-style: none;
}
.table {
    background-color: rgb(42, 0, 90);
    text-align: center;
}
#slidelinks {
    background-color: #8a2be2;
}
/*слайдер*/
#slidelinks img{
    border: 2px solid #8a2be2;
td,th {
    color:rgb(0, 0, 0);
    
}
.odd {
background-color: rgb(145, 119, 4);
}
footer p{
    color:rgb(60,60,60);
    justify-content: center;
}
